  <h1>All of our courses</h1>

  <% @courses.each do |course| %>
    <%=  course.title %> price: $<%=  course.formatted_price %>
    <% if course.image %>
      <%= link_to image_tag(course.image), "/courses/#{course.id}" %>
    <% else %>
      <%= link_to image_tag("https://placeholdit.imgix.net/~text?txtsize=33&txt=PLACEHOLDER&w=350&h=350"), "/courses/#{course.id}" %>
    <% end %>
  <% end %>
