  <h1>All of our courses</h1>

  <% @courses.each do |course| %>
    <%=  course.title %> price: $<%=  course.formatted_price %>
    <%= link_to image_tag(course.image), "/courses/#{course.id}" %>
  <% end %>
